    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon" />
    <style>
      .blue-circle {
        animation-delay: 0.1s;
      }

      .green-circle {
        animation-delay: 0.2s;
      }

      .red-circle {
        animation-delay: 0.3s;
      }
    </style>
  </head>
  <body>
    <div
      class="fixed z-50 flex h-screen w-screen items-center justify-center overflow-hidden bg-gray-100 opacity-80"
      id="preloader"
    >
      <div
        class="flex items-center justify-center space-x-2 rounded-full bg-white p-5 shadow-2xl"
      >
        <div
          class="blue-circle h-4 w-4 animate-bounce rounded-full bg-blue-600 p-2"
        ></div>
        <div
          class="green-circle h-4 w-4 animate-bounce rounded-full bg-green-600 p-2"
        ></div>
        <div
          class="red-circle h-4 w-4 animate-bounce rounded-full bg-red-600 p-2"
        ></div>
      </div>
    </div>
